# === Compilación y Maven ===
/target/
*.class
*.jar

# === Metadatos de IDEs ===
.settings/
.classpath
.project
.vscode/
.idea/

# === Archivos de Lucene ===
/index/

# === Entregables de la Universidad ===
*.zip
*.rar
*.tar.gz

# === Archivos de Sistema Operativo ===
.DS_Store
Thumbs.db
